@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf);
}



html, body {
    margin: 0;
    padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    color: #333;
	background: #eee;
}

a {
	text-decoration: none;
	color: #333;
}

p {
  margin: 0 0 20px 0;
}

.remove-margin {
	margin: 0;
}

.pos-relative {
	position: relative;
}
.full-view-height {
	height: 100vh;
}
.position-center {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: auto;
	text-align: center;
	transform: translateY(-50%);
	z-index: 5;
}

.rounded {
	border-radius: 50%;
}

.blur-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.font-color-0 {
	color: #fff;
}

.btn-1 {
	box-sizing: border-box;
	padding: 0 30px;
	border: solid 2px #fff;
	background: transparent;
	text-transform: uppercase;
	line-height: 38px;
	color: #fff;
	cursor: pointer;
	transition: ease all 400ms;
}
/*
.btn-1:hover {
	background: #fff;
	color: #333;
}*/

.border-white-box {
	border: solid 1px #fff;
	background: transparent;
	padding: 10px;
	border-radius: 50%;
}


@keyframes downdown {
	0% {
		margin-top: 40px;
	}
	50% {
		margin-top: 60px;
	}
	100% {
		margin-top: 40px;
	}
}

.moving-down {
	animation-name: downdown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

#mainnavbar .navbar-nav li a.active,
#mainnavbar .navbar-nav li a:hover
{
	background: #42c0fb;
	color: #fff;
}

.bg-blue {
	background: #42c0fb;
}


.footer {
	color: #fff;
	background: #4185b9;
}

.full-width {
	width: 100%;
	box-sizing: border-box;
}
.pad {
	padding: 20px;
}

.margin-small {
  margin-bottom: 10px;
}
* + .margin-small {
  margin-top: 10px !important;
}
.margin-small-top {
  margin-top: 10px !important;
}
.margin-small-bottom {
  margin-bottom: 10px !important;
}
.margin-small-left {
  margin-left: 10px !important;
}
.margin-small-right {
  margin-right: 10px !important;
}


.margin-medium {
  margin-bottom: 40px;
}
* + .margin-medium {
  margin-top: 40px !important;
}
.margin-medium-top {
  margin-top: 40px !important;
}
.margin-medium-bottom {
  margin-bottom: 40px !important;
}
.margin-medium-left {
  margin-left: 40px !important;
}
.margin-medium-right {
  margin-right: 40px !important;
}


.margin-large {
  margin-bottom: 40px;
}
* + .margin-large {
  margin-top: 40px !important;
}
.margin-large-top {
  margin-top: 40px !important;
}
.margin-large-bottom {
  margin-bottom: 40px !important;
}
.margin-large-left {
  margin-left: 40px !important;
}
.margin-large-right {
  margin-right: 40px !important;
}



/* Headings
 ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: none;
}
h1,
.h1 {
  font-size: 2.625rem;
  line-height: 1.2;
}
h2,
.h2 {
  font-size: 2rem;
  line-height: 1.3;
}
h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}
h4,
.h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}
h5,
.h5 {
  font-size: 16px;
  line-height: 1.4;
}
h6,
.h6 {
  font-size: 0.875rem;
  line-height: 1.4;
}


/* GRID */
.row {
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class^="col-"] {
    float: left;
    box-sizing: border-box;
}

.col-xs-i                    { width: 8.3333333333%;  }
.col-xs-ii                   { width: 16.6666666667%; }
.col-xs-iii                  { width: 25%;            }
.col-xs-iiii                 { width: 33.3333333333%; }
.col-xs-v                    { width: 41.6666666667%; }
.col-xs-vi                   { width: 50%;            }
.col-xs-vii                  { width: 58.3333333333%; }
.col-xs-viii                 { width: 66.6666666667%; }
.col-xs-viiii                { width: 75%;            }
.col-xs-x                    { width: 83.3333333333%; }
.col-xs-xi                   { width: 91.6666666667%; }
.col-xs-xii                  { width: 100%;           }

/* Offsets */
.col-xs-os-i                 { margin-left: 8.3333333333%;  }
.col-xs-os-ii                { margin-left: 16.6666666667%; }
.col-xs-os-iii               { margin-left: 25%;            }
.col-xs-os-iiii              { margin-left: 33.3333333333%; }
.col-xs-os-v                 { margin-left: 41.6666666667%; }
.col-xs-os-vi                { margin-left: 50%;            }
.col-xs-os-vii               { margin-left: 58.3333333333%; }
.col-xs-os-viii              { margin-left: 66.6666666667%; }
.col-xs-os-viiii             { margin-left: 75%;            }
.col-xs-os-x                 { margin-left: 83.3333333333%; }
.col-xs-os-xi                { margin-left: 91.6666666667%; }




/* ================================= */
.uk-container {
	padding-left: 40px;
	padding-right: 40px;
}
.navbar-container {
	background: #fff;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.navbar-left {
	float: left;
	vertical-align: middle;
}
.navbar-right {
	float: right;
	vertical-align: middle;
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar-nav li {
	display: inline-block;
	margin-right: -4px;
}
.navbar-nav li a{
	display: inline-block;
	padding: 0 20px;
	line-height: 80px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.3);
	font-weight: 600;
	font-size: 14px;
	font-family: 'Montserrat';
}
.navbar-nav li a:hover,
.navbar-nav li a.active {
	background: #42c0fb;
	color: #fff;
}
.mylogo {
	font-size: 22px;
	font-weight: 400;
	line-height: 80px;
}
.mylogo * {
	vertical-align: middle;
}

/* HOME */
.home-items div {
	display: inline-block;
	vertical-align: middle;
}


#about,
#hobbies,
#gallery,
#contact{
	padding: 80px 50px;
}
.about-items {
	background: #fff;
	color: rgba(0,0,0,0.6);
}
.about-items div {
	display: inline-block;
	vertical-align: middle;
	width: 48%;
	margin-right: -4px;
}
.about-par {
	width: 100%;
	font-size: 1.2vw;
	text-indent: 20px;
}

.about-items:hover {
	box-shadow: 5px 10px 35px rgba(0,0,0,0.3);
}

.card {
	padding: 10px;
	transition: all ease 400ms;
}
.card:hover {
	background: #fff;
}

.title-v1:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 2px;
	margin-right: 10px;
	background: #42c0fb;
}
.title-v1:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 2px;
	margin-left: 10px;
	background: #42c0fb;
}

.title-v2 {
	position: relative;
}
.title-v2:after {
	content: "";
	position: absolute;
	top: 100%;
	border-bottom: solid 1px #7a7a7a;
	border-top: solid 1px #7a7a7a;
	width: 30px;
	height: 6px;
	left: 50%;
	margin-top: 10px;
	transform: translateX(-50%);
}

.sm-icons {
	float: right;
	padding-top: 20px;
}

.gallery-container {
	padding-left: 10px;
	padding-bottom: 10px;
}
.gallery-img {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	width: 32.5%;
	height: 250px;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	transition: opacity ease 300ms;
	cursor: pointer;
}
.gallery-img:hover {
	opacity: 0.7;
}
.gallery-img img {
	width: 100%;
}

.contact-container {
	background: #42c0fb;
	padding: 30px 30px;
	color: #fff;
}
.contact-container > form input,
.contact-container > form textarea{
	border: none;
	background: #fff;
	width: 100%;
	padding: 10px 15px;
	font-size: 16px;
}
textarea {
	min-height: 250px;
	resize: none;
}


.font-color-1 {
	color: rgba(0,0,0,0.5);
}

.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-italic {
	font-style: italic;
}
.text-right {
	text-align: right;
}

#home-img {
	transition: all ease 300ms;
}
#home-img:hover {
	-webkit-filter: grayscale(100%); 
    filter: brightness(60%);
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
	box-sizing: border-box;
	z-index: 5;
}

.sticky + div {
  margin-top: 80px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}








